
*{
    box-sizing: border-box;
}
body{
    background: #1c1b1b;
}
h3,h2{
   text-align: center;
color: white;
}
label{
    color: white;
}
div{
    display: flex;
    justify-content: center;
}
.buttons {
    gap: 20px;
    margin-top: 20px;
}
#solution{
    margin-top: 10px;
    color:  white;
}